<header class="o-header-services" data-o-component="o-header-services">

	<div class="o-header-services__top">
		<div class="o-header-services__hamburger">
			<a class="o-header-services__hamburger-icon" href="#" role="button">
				<span class="o-header-services__visually-hidden">Open primary navigation</span>
			</a>
		</div>
		<div class="o-header-services__logo"></div>
		<div class="o-header-services__title">
			<a class="o-header-services__product-name" href="/">Origami Navigation Service</a>
		</div>
	</div>

	<nav class="o-header-services__primary-nav" aria-label="primary">
		<ul class="o-header-services__primary-nav-list">
			{{#navigation.items}}
				<li>
					<a href="{{@root.basePath}}{{href}}" {{#current}}aria-current="true"{{/current}}>
						{{name}}
					</a>
				</li>
			{{/navigation.items}}
		</ul>
	</nav>

</header>
