<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<script>
	var script = document.createElement('script');
	var supportsDeferredScripts = "defer" in script && "async" in script;
	window.cutsTheMustard = (typeof document.documentElement.dataset === 'object' && ('visibilityState' in document) && supportsDeferredScripts);

	if (window.cutsTheMustard) {
		document.documentElement.classList.replace('core', 'enhanced');
	}
</script>

<style>
	.core .o--if-js,
	.enhanced .o--if-no-js {
		display: none !important;
	}
	.o-layout__header .o-header-services__top .o-header-services__ftlogo {
		background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1:origami?source=origami-navigation-service");
	}
</style>

<link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v3/bundles/css?components=o-layout@^5.2.3,o-fonts@^5.3.3,o-syntax-highlight@^4.2.3,o-table@^9.2.5,o-header-services@^5.2.3,o-footer-services@^4.2.3,o-autoinit@^3.1.3,o-normalise@^3.0.0&brand=internal&system_code=origami-navigation-service" />
<link rel="stylesheet" href="{{@root.basePath}}main.css" />
<script src="https://polyfill.io/v2/polyfill.min.js?features=fetch,default"></script>
<script>
	(function(src) {
		if (window.cutsTheMustard) {
			script.async = script.defer = true;
			script.src = src;
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(script, s);
		}
	}('https://www.ft.com/__origami/service/build/v3/bundles/js?components=o-autoinit@^3.1.3,o-layout@^5.2.3,o-fonts@^5.3.3,o-syntax-highlight@^4.2.3,o-table@^9.2.5,o-header-services@^5.2.3,o-footer-services@^4.2.3&system_code=origami-navigation-service'));
</script>
