<!DOCTYPE html>
<html class="core" lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="{{basePath}}" />

	<script>
		var script = document.createElement('script');
		var supportsDeferredScripts = "defer" in script && "async" in script;
		window.cutsTheMustard = (typeof document.documentElement.dataset === 'object' && ('visibilityState' in document) && supportsDeferredScripts);

		if (window.cutsTheMustard) {
			document.documentElement.classList.replace('core', 'enhanced');
		}
	</script>

	<style>
		.core .o--if-js,
		.enhanced .o--if-no-js {
			display: none !important;
		}
	</style>

	<script src="https://polyfill.io/v2/polyfill.min.js?features=fetch,default"></script>
	<link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-header@8.0.5,o-footer@^7.0.5,o-grid@^5.1.1,o-typography@^6.3.2,o-normalise@2.0.6" />
	<script>
		(function(src) {
			if (window.cutsTheMustard) {
				script.async = script.defer = true;
				script.src = src;
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(script, s);
			}
		}('https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-header@8.0.5,o-footer@^7.0.5,o-grid@^5.1.1,o-typography@^6.3.2,o-normalise@2.0.6'));
	</script>

</head>
<body>
	{{> example/header}}

	{{{body}}}

	{{> example/footer}}
</body>
</html>
