<header id="site-navigation" class="o-header" data-o-component="o-header" data-o-header--no-js>

	<div class="o-header__row o-header__anon" data-trackable="header-anon">
		<ul class="o-header__anon-list">
			{{#each navigationLists.navbar-right-anon.items}}
				<li class="o-header__anon-item">
					<a class="o-header__anon-link" href="{{url}}" data-trackable="{{label}}">{{label}}</a>
				</li>
			{{/each}}
		</ul>
	</div>
	<div class="o-header__row o-header__top" data-trackable="header-top">
		<div class="o-header__container">
			<div class="o-header__top-wrapper">
					<div class="o-header__top-column o-header__top-column--left">
						<a href="#o-header-drawer" class="o-header__top-link o-header__top-link--menu" aria-controls="o-header-drawer" title="Open drawer menu" data-trackable="drawer-toggle">
							<span class="o-header__top-link-label">Menu</span>
						</a>
						<a href="#o-header-search-primary" class="o-header__top-link o-header__top-link--search" aria-controls="o-header-search-primary" title="Open search bar" data-trackable="search-toggle">
							<span class="o-header__top-link-label">Search</span>
						</a>
					</div>
				<div class="o-header__top-column o-header__top-column--center">
					<a class="o-header__top-logo" href="/" title="Go to Financial Times homepage">
						<span class="o-header__visually-hidden">Financial Times</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div id="o-header-search-primary" class="o-header__row o-header__search o-header__search--primary" data-o-header-search>
		<div class="o-header__container">
			<form class="o-header__search-form" action="/search" role="search" aria-label="Site search" data-typeahead data-typeahead-categories="tags,equities" data-typeahead-view-all>
				<label class="o-header__visually-hidden" for="o-header-search-term-primary">Search the <abbr title="Financial Times">FT</abbr></label>
				<input class="o-header__search-term" id="o-header-search-term-primary" name="q" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-trackable="search-term" placeholder="Search the FT" data-typeahead-input>
				<button class="o-header__search-submit" type="submit" data-trackable="search-submit">
					Search
				</button>
				<button class="o-header__search-close o--if-js" type="button" aria-controls="o-header-search-primary" title="Close search bar">
					<span class="o-header__visually-hidden">Close</span>
				</button>
			</form>
		</div>
	</div>


	<nav id="o-header-nav-desktop" class="o-header__row o-header__nav o-header__nav--desktop" role="navigation" aria-label="Primary navigation">
		<div class="o-header__container">
			<ul class="o-header__nav-list o-header__nav-list--left" data-trackable="primary-nav">
				{{#each navigationLists.navbar-uk.items}}
				<li class="o-header__nav-item">
					<a class="o-header__nav-link o-header__nav-link--primary o-header-nav__list-link--highlight" href="{{url}}" id="o-header-link-{{@index}}" >{{label}}</a>
					{{#if this.submenu}}
						<div class="o-header__mega" id="o-header-mega-{{@index}}" role="group" aria-labelledby="o-header-link-{{@index}}" data-o-header-mega>
							<div class="o-header__container">
								<div class="o-header__mega-wrapper">
									<div class="o-header__mega-column o-header__mega-column--subsections" data-trackable="sections">
										<h3 class="o-header__mega-heading">{{label}}</h3>
										<div class="o-header__mega-content">
											<ul class="o-header__mega-list">
												{{#each this.submenu.items}}
													<li class="o-header__mega-item">
														<a class="o-header__mega-link" href="{{url}}" data-trackable="link">
															{{label}}
														</a>
													</li>
												{{/each}}
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					{{/if}}
				</li>
				{{/each}}
			</ul>
		</div>
	</nav>

	{{#if breadcrumb}}
		<div class="o-header__subnav" role="navigation" aria-label="Sub navigation" data-o-header-subnav data-trackable="header-subnav">
			<div class="o-header__container">
				<div class="o-header__subnav-wrap-outside">
					<div class="o-header__subnav-wrap-inside" data-o-header-subnav-wrapper>
						<div class="o-header__subnav-content">

							{{#if breadcrumb}}
							<ol class="o-header__subnav-list o-header__subnav-list--breadcrumb" aria-label="Breadcrumb" data-trackable="breadcrumb">
								{{#each breadcrumb}}
								<li class="o-header__subnav-item">
									<a class="o-header__subnav-link {{#if selected}}o-header__subnav-link--highlight{{/if}}" href="{{url}}" aria-selected="{{selected}}" data-trackable="{{label}}">
										{{label}}
									</a>
								</li>
								{{/each}}
							</ol>
							{{/if}}

							{{#if subsections}}
							<ul class="o-header__subnav-list o-header__subnav-list--subsections" aria-label="Subsections" data-trackable="subsections">
								{{#each subsections.items}}
								<li class="o-header__subnav-item">
									<a class="o-header__subnav-link {{#if selected}}o-header__subnav-link--highlight{{/if}}" href="{{url}}" aria-selected="{{selected}}" data-trackable="{{label}}">
										{{label}}
									</a>
								</li>
								{{/each}}
							</ul>
							{{/if}}

						</div>
					</div>
					<button class="o-header__subnav-button o-header__subnav-button--left" title="scroll left" aria-label="scroll left" aria-hidden="true" disabled></button>
					<button class="o-header__subnav-button o-header__subnav-button--right" title="scroll right" aria-label="scroll right" aria-hidden="true" disabled></button>
				</div>
			</div>
		</div>
	{{/if}}
</header>

<div class="o-header__drawer" id="o-header-drawer" role="navigation" aria-label="Drawer menu" data-o-header-drawer data-o-header-drawer--no-js data-trackable="drawer" data-trackable-terminate>
	<div class="o-header__drawer-inner">

		<div class="o-header__drawer-tools">
			<a class="o-header__drawer-tools-logo" href="/" data-trackable="logo">
				<span class="o-header__visually-hidden">Financial Times</span>
			</a>

			<button type="button" class="o-header__drawer-tools-close" aria-controls="o-header-drawer" title="Close drawer menu" data-trackable="close">
				<span class="o-header__visually-hidden">Close</span>
			</button>
			<p class="o-header__drawer-current-edition">{{edition}} Edition</p>
		</div>

		<div class="o-header__drawer-search">
			<form class="o-header__drawer-search-form" action="/search" role="search" aria-label="Site search" data-typeahead data-typeahead-categories="tags,equities" data-typeahead-view-all>
				<label class="o-header__visually-hidden" for="o-header-drawer-search-term">Search the <abbr title="Financial Times">FT</abbr></label>
				<input class="o-header__drawer-search-term" id="o-header-drawer-search-term" name="q" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Search the FT" data-trackable="search-term" data-typeahead-input>
				<button class="o-header__drawer-search-submit" type="submit" data-trackable="search-submit">
					<span class="o-header__visually-hidden">Search</span>
				</button>
			</form>
		</div>

		<nav class="o-header__drawer-menu o-header__drawer-menu--primary o-header__drawer-homepage">


			<ul class="o-header__drawer-menu-list">

				{{#if editions}}
					{{#each editions}}
						<li class="o-header__drawer-menu-item" data-trackable="edition-switcher">
							<a class="o-header__drawer-menu-link" href="/?edition={{this}}" data-trackable="{{this}}">Switch to {{this}} Edition</a>
						</li>
					{{/each}}
				{{/if}}

			</ul>

			<ul class="o-header__drawer-menu-list">
				{{#each navigationLists.drawer-uk.items}}
					{{#if submenu}}
						<li class="o-header__drawer-menu-item o-header__drawer-menu-item--heading">
							{{label}}
						</li>
						{{#each submenu.items}}
							<li class="o-header__drawer-menu-item">
								{{#if submenu}}
									<div class="o-header__drawer-menu-toggle-wrapper">
										{{#if submenu.items}}
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--parent" href="{url}}" >{{label}}</a>
										<button class="o-header__drawer-menu-toggle" aria-controls="o-header-drawer-child-{{@index}}" data-trackable="sub-level-toggle | {{label}}">
											Show more {{label}} links
										</button>
										{{/if}}
									</div>
									<ul class="o-header__drawer-menu-list o-header__drawer-menu-list--child" id="o-header-drawer-child-{{@index}}" data-trackable="sub-level">
										{{#each submenu.items}}
											<li class="o-header__drawer-menu-item">
												<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child" href="{{url}}" >{{label}}</a>
											</li>
										{{/each}}
									</ul>
								{{else}}
									<a class="o-header__drawer-menu-link" href="{{url}}" >{{label}}</a>
								{{/if}}
							</li>
						{{/each}}
					{{/if}}
				{{/each}}
			</ul>
		</nav>

		<nav class="o-header__drawer-menu o-header__drawer-menu--user" data-trackable="user-nav">
			<ul class="o-header__drawer-menu-list">
				{{#each navigationLists.anon.items}}
					<li class="o-header__drawer-menu-item">
						<a class="o-header__drawer-menu-link" href="{{replace url "${currentPath}" @root.currentPath}}" data-trackable="{{label}}">
							{{label}}
						</a>
					</li>
				{{/each}}
			</ul>
		</nav>
	</div>
</div>

<div class="o-grid-container">
	<div class="o-grid-row" >
		<div data-o-grid-colspan="M8 L12 center" class="o-techdocs-content example-content">
			<h1>Origami-Navigation-Service demo</h1>
			<p>This page demonstrates how to use <a href="https://github.com/Financial-Times/o-header">o-header</a>, <a href="https://github.com/Financial-Times/o-footer">o-footer</a> and the Origami Navigation Service. The navigation for this page is controlled by the <a href="https://github.com/Financial-Times/origami-navigation-data">Origami Navigation Data</a> repository. When the Origami Navigation Data is updated, the navigation on this page will be updated within 10 minutes.</p>

			<p>The code for this can be found on <a href="https://github.com/Financial-Times/origami-navigation-service/blob/master/lib/routes/v2/docs/example.js">Github</a>.</p>

			{{>navigation}}
		</div>
	</div>
</div>

<footer class="o-footer o-footer--theme-dark" data-o-component="o-footer" data-o-footer--no-js="">
	<div class="o-footer__container">

		<div class="o-footer__row">
			<nav class="o-footer__matrix" role="navigation" aria-label="Useful links">
				{{#each navigationLists.footer.items}}
					{{#if submenu}}
						<div class="o-footer__matrix-group o-footer__matrix-group--{{@index}}">
							<h6 class="o-footer__matrix-title">
								{{{label}}}
							</h6>
							<div class="o-footer__matrix-content" id="o-footer-section-{{@index}}">
									<div class="o-footer__matrix-column">
										{{#each submenu.items}}
											<a class="o-footer__matrix-link" href="{{url}}" data-trackable="{{label}}">{{{label}}}</a>
										{{/each}}
									</div>
							</div>
						</div>
					{{/if}}
				{{/each}}
			</nav>

			<h6 class="o-footer__external-link o-footer__matrix-title">
				<a class="o-footer__more-from-ft o-footer__matrix-title" href="http://ft.com/more-from-ft-group">More from the FT Group</a>
			</h6>
		</div>

		<div class="o-footer__copyright" role="contentinfo">
			<small>
				Markets data delayed by at least 15 minutes. &#xA9; THE FINANCIAL TIMES LTD 2017.
				<abbr title="Financial Times" aria-label="F T">FT</abbr> and &#x2018;Financial Times&#x2019; are trademarks of The Financial Times Ltd.<br>
				The Financial Times and its journalism are subject to a self-regulation regime under the <a href="http://www.ft.com/editorialcode" aria-label="F T Editorial Code of Practice">FT Editorial Code of Practice</a>.
			</small>
		</div>

	</div>
	<div class="o-footer__brand">
		<div class="o-footer__container">
			<div class="o-footer__brand-logo"></div>
		</div>
	</div>
</footer>

<script src="https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-header@^6.12.3,o-grid@^4.3.1"></script>
<link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-header@^6.12.3,o-grid@^4.3.1" />
