<div class="o-grid-container" style="margin-top:20px;">
	<div class="o-grid-row">
		<div data-o-grid-colspan="8 center" class="example-content o-typography-wrapper">
			<h1>Origami Navigation Service Demo</h1>
			<p>This page demonstrates how to use <a href="https://github.com/Financial-Times/o-header">o-header</a>, <a href="https://github.com/Financial-Times/o-footer">o-footer</a> and the Origami Navigation Service. The navigation for this page is controlled by the <a href="https://github.com/Financial-Times/origami-navigation-data">Origami Navigation Data</a> repository. When the Origami Navigation Data is updated, the navigation on this page will be updated within 10 minutes.</p>

			<p>The code for this can be found on <a href="https://github.com/Financial-Times/origami-navigation-service/blob/master/lib/routes/v2/docs/example.js">Github</a>.</p>

			<ul>
				{{#navigation.items}}
					<li><a href="{{href}}" class="o-typography-link">{{name}}</a></li>
				{{/navigation.items}}
			</ul>
		</div>
	</div>
</div>
