
<div class="o-techdocs-container">
	<div class="o-techdocs-layout">

		<div class="o-techdocs-sidebar">
			{{>navigation}}
		</div>

		<div class="o-techdocs-main o-techdocs-content">
			<h1>Provides consistent navigation for FT applications</h1>

			<p>
				The Origami Navigation Service is a JSON API which provides navigation structures for
				use across FT websites. Using the service keeps your site consistent and reduces the
				need for you to manage link updates.
			</p>

			<p>
				The <a href="v2/docs/api">API documentation</a> outlines how to use the service.
				If you're migrating from Navigation Service v1, we maintain a
				<a href="v2/docs/migration">migration guide</a> to help you.
			</p>

			<p>
				Here is an <a href="v2/docs/api">example</a> for using this service with <a href="https://registry.origami.ft.com/components/o-header">o-header</a> and <a href="https://registry.origami.ft.com/components/o-header">o-footer</a>.
			</p>

		</div>

	</div>
</div>
