
<div class="o-techdocs-container">
	<div class="o-techdocs-layout">

		<div class="o-techdocs-sidebar">
			{{>navigation}}
		</div>

		<div class="o-techdocs-main o-techdocs-content">

			<aside>
				<h5>V2 is experimental</h5>
				<p>
					This version of the Navigation Service is experimental, and not ready for use in
					production.
				</p>
				<ul>
					<li><a href="mailto:origami.support@ft.com">contact the Origami team</a></li>
					<li><a href="https://origami-navigation.ft.com/v1">view the v1 documentation</a></li>
				</ul>
			</aside>

			<p>
				Provides consistent navigation for FT applications.
			</p>

		</div>

	</div>
</div>
