
<div class="o-techdocs-container">
	<div class="o-techdocs-layout">

		<div class="o-techdocs-sidebar">
			{{>navigation}}
		</div>

		<div class="o-techdocs-main o-techdocs-content">

			<h1>
				Migration Guide
			</h1>

			<p>
				There are many breaking changes in the API between v1 and v2 of the Navigation Service.
				The <a href="v2/docs/api">API documentation</a> outlines the full v2 API, and it's
				best to consult this because there are very few similarities.
			</p>

		</div>

	</div>
</div>
