<header class="o-header" data-o-component="o-header" data-o-header--no-js>

	<div class="o-header__row o-header__top">
		<div class="o-header__container">
			<div class="o-header__top-wrapper">
				<div class="o-header__top-column o-header__top-column--left">
					<a href="#o-header-drawer" class="o-header__top-link o-header__top-link--menu"
						aria-controls="o-header-drawer" title="Open side navigation menu">
						<span class="o-header__top-link-label">Open side navigation menu</span>
					</a>
					<a href="#o-header-search" class="o-header__top-link o-header__top-link--search"
						aria-controls="o-header-search-js" title="Open search bar">
						<span class="o-header__top-link-label">Open search bar</span>
					</a>
				</div>
				<div class="o-header__top-column o-header__top-column--center">
					<a class="o-header__top-logo" href="/" title="Go to Financial Times homepage">
						<span class="o-header__visually-hidden">Financial Times</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="o-header-search" class="o-header__row o-header__search o--if-no-js" role="search">
		<div class="o-header__container">
			<form class="o-header__search-form" action="/search" role="search" aria-label="Site search">
				<label class="o-header__visually-hidden" for="o-header-search-term">Search the <abbr title="Financial Times">FT</abbr></label>
				<input class="o-header__search-term" id="o-header-search-term" name="q" type="text" placeholder="Search the FT">
				<button class="o-header__search-submit" type="submit">
					Search
				</button>
			</form>
		</div>
	</div>
	<div id="o-header-search-js" class="o-header__row o-header__search" role="search" data-o-header-search>
		<div class="o-header__container">
			<form class="o-header__search-form" action="/search" role="search" aria-label="Site search">
				<label class="o-header__visually-hidden" for="o-header-search-term-js">Search the <abbr title="Financial Times">FT</abbr></label>
				<input class="o-header__search-term" id="o-header-search-term-js" name="q" type="text" placeholder="Search the FT">
				<button class="o-header__search-submit" type="submit">
					Search
				</button>
				<button class="o-header__search-close o--if-js" type="button" aria-controls="o-header-search-js" title="Close search bar">
					<span class="o-header__visually-hidden">Close search bar</span>
				</button>
			</form>
		</div>
	</div>

	<nav id="o-header-nav-desktop" class="o-header__row o-header__nav o-header__nav--desktop" role="navigation"
		aria-label="Main navigation">
		<div class="o-header__container">

			<ul class="o-header__nav-list o-header__nav-list--left">
				{{#each navigationLists.navbar-uk.items}}
				<li class="o-header__nav-item">
					<a class="o-header__nav-link o-header__nav-link--primary" href="{{url}}" id="o-header-link-{{@index}}" {{#if selected}}aria-current="page" aria-label="{{label}}, current page"{{/if}}>{{label}}</a>
					{{#if this.submenu}}
						<div class="o-header__mega" id="o-header-mega-{{@index}}" role="group" aria-labelledby="o-header-link-{{@index}}" data-o-header-mega>
							<div class="o-header__container">
								<div class="o-header__mega-wrapper">
									<div class="o-header__mega-column o-header__mega-column--subsections">
										<div class="o-header__mega-heading">{{label}}</div>
										<div class="o-header__mega-content">
											<ul class="o-header__mega-list">
												{{#each this.submenu.items}}
													<li class="o-header__mega-item">
														<a class="o-header__mega-link" href="{{url}}">
															{{label}}
														</a>
													</li>
												{{/each}}
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					{{/if}}
				</li>
				{{/each}}
			</ul>
		</div>
	</nav>

	{{#if breadcrumb}}
	<div class="o-header__subnav" role="navigation" aria-label="Sub navigation" data-o-header-subnav>
		<div class="o-header__container">
			<div class="o-header__subnav-wrap-outside">
				<div class="o-header__subnav-wrap-inside" data-o-header-subnav-wrapper>
					<div class="o-header__subnav-content">
						{{#if breadcrumb}}
						<ol class="o-header__subnav-list o-header__subnav-list--breadcrumb" aria-label="Breadcrumb">
							{{#each breadcrumb}}
							<li class="o-header__subnav-item">
								<a class="o-header__subnav-link" href="{{url}}" {{#if selected}}aria-current="page" aria-label="{{label}}, current page"{{/if}}>
									{{label}}
								</a>
							</li>
							{{/each}}
						</ol>
						{{/if}}

						{{#if subsections}}
						<ul class="o-header__subnav-list o-header__subnav-list--subsections" aria-label="Subsections">
							{{#each subsections.items}}
							<li class="o-header__subnav-item">
								<a class="o-header__subnav-link" href="{{url}}" {{#if selected}}aria-current="page" aria-label="{{label}}, current page"{{/if}}>
									{{label}}
								</a>
							</li>
							{{/each}}
						</ul>
						{{/if}}
					</div>
				</div>
				<button class="o-header__subnav-button o-header__subnav-button--left" aria-hidden="true" disabled></button>
				<button class="o-header__subnav-button o-header__subnav-button--right" aria-hidden="true" disabled></button>
			</div>
		</div>
	</div>
	{{/if}}
</header>

<div class="o-header__drawer" id="o-header-drawer" role="navigation" aria-label="Drawer menu" data-o-header-drawer
	data-o-header-drawer--no-js>
	<div class="o-header__drawer-inner">


		<div class="o-header__drawer-tools">
			<a class="o-header__drawer-tools-logo" href="/">
				<span class="o-header__visually-hidden">Financial Times</span>
			</a>

			<button type="button" class="o-header__drawer-tools-close" aria-controls="o-header-drawer" title="Close side navigation menu">
				<span class="o-header__visually-hidden">Close side navigation menu</span>
			</button>
			<p class="o-header__drawer-current-edition">{{edition}} Edition</p>
		</div>


		{{#if editions}}
		<nav class="o-header__drawer-menu" aria-label="Edition switcher">
			<ul class="o-header__drawer-menu-list">
				{{#each editions}}
				<li class="o-header__drawer-menu-item"></li>
					<a class="o-header__drawer-menu-link" href="/?edition={{this}}">Switch to {{this}} Edition</a>
				</li>
				{{/each}}
			</ul>
		</nav>
		{{/if}}

		<div class="o-header__drawer-search">
			<form class="o-header__drawer-search-form" action="/search" role="search" aria-label="Site search">
				<label class="o-header__visually-hidden" for="o-header-drawer-search-term">Search the <abbr
						title="Financial Times">FT</abbr></label>
				<input class="o-header__drawer-search-term" id="o-header-drawer-search-term" name="q" type="text"
					autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
					placeholder="Search the FT">
				<button class="o-header__drawer-search-submit" type="submit">
					<span class="o-header__visually-hidden">Search</span>
				</button>
			</form>
		</div>

		<nav class="o-header__drawer-menu o-header__drawer-menu--primary">
			<ul class="o-header__drawer-menu-list">

				{{#each navigationLists.drawer-uk.items}}
				{{#if submenu}}
					{{#if label}}
						<li class="o-header__drawer-menu-item o-header__drawer-menu-item--heading">
							{{label}}
						</li>
					{{/if}}
					{{#each submenu.items}}
						<li class="o-header__drawer-menu-item {{#if @first}}{{#unless ../label }} o-header__drawer-menu-item--divide{{/unless}}{{/if}}">
							{{#if submenu}}
								<div class="o-header__drawer-menu-toggle-wrapper">
									{{#if submenu.items}}
									<a class="o-header__drawer-menu-link o-header__drawer-menu-link--parent o-header__drawer-menu-link--{{#if selected}}selected{{else}}unselected{{/if}}" href="{{url}}" {{#if selected}}aria-label="{{label}}, current page" aria-current="page"{{/if}}>{{label}}</a>
									<button class="o-header__drawer-menu-toggle o-header__drawer-menu-toggle--{{#if selected}}selected{{else}}unselected{{/if}}" aria-controls="o-header-drawer-child-{{@index}}">
										Show more {{label}} links
									</button>
									{{/if}}
								</div>
								<ul class="o-header__drawer-menu-list o-header__drawer-menu-list--child" id="o-header-drawer-child-{{@index}}">
								{{#each submenu.items}}
									<li class="o-header__drawer-menu-item">
										<a class="o-header__drawer-menu-link o-header__drawer-menu-link--child o-header__drawer-menu-link--{{#if selected}}selected{{else}}unselected{{/if}}" href="{{url}}" {{#if selected}}aria-label="{{label}}, current page" aria-current="page"{{/if}}>{{label}}</a>
									</li>
								{{/each}}
								</ul>
							{{else}}
								<a class="o-header__drawer-menu-link{{#unless ../label }} o-header__drawer-menu-link--secondary{{/unless}}{{#if variation}} o-header__drawer-menu-link--{{variation}}{{/if}} o-header__drawer-menu-link--{{#if selected}}selected{{else}}unselected{{/if}}" href="{{url}}" {{#if selected}}aria-label="{{label}}, current page" aria-current="page"{{/if}}>{{label}}</a>
							{{/if}}
						</li>
					{{/each}}
				{{/if}}
				{{/each}}
			</ul>
		</nav>

		<nav class="o-header__drawer-menu o-header__drawer-menu--user">
			<ul class="o-header__drawer-menu-list">
				{{#each navigationLists.anon.items}}
					<li class="o-header__drawer-menu-item">
						<a class="o-header__drawer-menu-link" href="{{replace url "${currentPath}" @root.currentPath}}">
							{{label}}
						</a>
					</li>
				{{/each}}
			</ul>
		</nav>
	</div>
</div>
